/* body{
    background-color: red;
} */
.card{
    
    display: flex;
    margin: auto;
    background-color: rgb(241, 232, 232);
    box-shadow: 0 0 10px rgb(235, 232, 232);
    color: black;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    
}

.left{
    width: 400px;
}

.right h3{
    
    text-align: center;
}
.left h3{
    text-align: center;
}
.right li{
    list-style: none;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: red;
  gap: 10px;
  color: white;
  padding: 20px;
  border-radius: 20px;
}
.left li{
    list-style: none;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: rgb(255, 0, 0);
  gap: 10px;
  color: white;
  padding: 20px;
  border-radius: 20px;
  width: 200px;
}
.link{

    text-decoration: none;
    font-size: 15px;
    color: black;
    color: white;
    
}
hr{
    border: 1px black solid;
    
}