

.admin-head{
    display: flex;
    margin-top: 20px;
    background-color: #120E43;
    padding: 20px;
    padding-left: 10px;
    color: white;
    margin: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
 

}
.admin-head h2{
    font-size: 35px;
    text-decoration: underline;
}

.admin-head p{
    font-size: 20px;
    position: relative;
    top: 27px;
    left: 10px;
}

