

.admin-head{
    display: flex;
    margin-top: 20px;
    background-color: #faf7f7;
    padding: 20px;
    padding-left: 10px;
 

}
.admin-head h2{
    font-size: 35px;
    text-decoration: underline;
}

.admin-head p{
    font-size: 20px;
    position: relative;
    top: 27px;
    left: 10px;
}

