
header li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    
}
header ul{
    
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0px;
    margin-right: 50px;
}

.logo-img{
    position: relative;
    left: 10px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
}

.container-1{
    display: flex;
    justify-content: space-between;
}

.nav-links{
    text-decoration: none;
    color: black;
}

.update-btn-home{
    background-color: #22CB5C;
    width: 120px;
    height: 40px;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.update-btn-home:hover{
    background-color: #22DB5C;
    
}


