
.li-items{
    list-style: none;
    cursor: pointer;
    font-size: 25px;
    
}
.nav-header{
    
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0px;
    margin-right: 50px;
}

.logo-img{
    position: relative;
    left: 10px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-links{
    text-decoration: none;
    color: black;
}